        
        
        
        <li class="item">
          <%= link_to "Chatroom", chatroom_path%>
        </li>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
        <%if logged_in? %>
          
          <%= link_to "logout", logout_path, method: :delete, class: "item" %>
        
        <%else%>
        <li class="item">
          <%= link_to "Log in", login_path%>
        </li>
        
        <%end%>
          </div>
          